* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #b4b4b4;
}

.first {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: rgb(238, 238, 238);
  padding: 5vw; /* Adjust padding based on viewport width */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 5px 5px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90vw; /* Allow the container to scale with the viewport */
  max-width: 500px; /* Limit max width for larger screens */
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%; /* Make input responsive */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: right;
  font-size: 1.2em;
}

.efabuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

.remov {
  background: linear-gradient(180deg, #797979, rgba(184, 51, 51, 2));
}

.diff {
  background: linear-gradient(95deg, rgb(169, 165, 165), #685757);
}

button {
  width: 22vw; /* Use viewport width to ensure buttons scale */
  max-width: 50px; /* Cap max width */
  height: 50px;
  margin: 5px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color: #797979;
  background: linear-gradient(100deg, #797979, rgb(227, 175, 175));
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
  background: linear-gradient(80deg, #0056b3, rgb(155, 137, 137));
}

button:active {
  background-color: #003f7f;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.inp {
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.zero {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5vw; /* Adjust gap using viewport units */
  margin-top: 20px;
}

@media (max-width: 768px) {
  body {
    height: auto;
    padding: 10px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 100%;
    padding: 10px;
    margin-top: 0px;
    padding-top:40px;
    padding-bottom:80px;

  }

  input[type="text"] {
    font-size: 1rem;
    margin-bottom:20px;
  }

  button {
    width: 22%;
    max-width: none;
    font-size: 1rem;
    padding: 18px;
  }

  .zero {
    gap: 5vw;
    margin-top: 10px;
    padding:20px;
  }
}

@media (max-width: 480px) {
  button {
    width: 24%;
    max-width: none;
  }

  .zero {
    gap: 5px;
  }

  input[type="text"] {
    font-size: 0.9em;
  }
}
